# Repo-specific GitIgnore ----------------------------------------------------------------------------------------------
*.jpg

# Chen GitIgnore ----------------------------------------------------------------------------------------------
!result/*.jpg





